{% extends "base.html" %} {% load crispy_forms_tags %} {% block title_block %}
{% load static %} About Us {% endblock %} {% block main %}

<style>
  .calltoaction {
    background-color: #23283d;
    color: #fff;
    border: 2px solid #e56a4c;
    box-shadow: 2px 2px 5px #23283d;
    padding: 0.5rem 1rem;
  }

  .calltoaction:hover {
    background-color: #e56a4c;
    color: #23283d;
    border-color: #e56a4c;
  }
</style>

<div style="position: relative">
  <div class="" style="position: relative; top: 0; left: 0">
    <!-- <img
      style="border-radius: 5%"
      class="rounded"
      src="{% static 'img/abc.png' %}"
      alt=""
    /> -->
  </div>
  <div
    class="container text-white text-start rounded"
    style="position: relative; top: 0; left: 0"
  >
    <h1 class="mt-3">List Your Tool</h1>
    <form method="POST" class="mt-3 w-75">
      {{ form|crispy }} {% csrf_token %}
      <button type="submit" class="btn btn-light mt-2 p-2 px-5">
        List Tool
      </button>
    </form>
    <br />
  </div>
</div>

{% endblock %}
